body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.bookTitle{
  font-size: 20px;
}

.bookTitle a:link{
  color: orange;
}

.bookTitle a:hover{
  color: tomato;
}

.bookTitle a:active{
  color: #d64322;
}


/* Global */
.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}

header ul{
  margin:0;
  padding:0;
}

.button1 {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  -webkit-box-shadow: 0px 2px 3px #6e6e6e;
  -moz-box-shadow: 0px 2px 3px #6e6e6e;
  box-shadow: 0px 2px 3px #6e6e6e;
  color: #000000;
  font-size: 14px;
  background: #f9cb68;
  padding: 10px 20px 10px 20px;
  border: solid #e69900 3px;
  text-decoration: none;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button1:hover {
  background: #ffdea6;
  text-decoration: none;
}

.button1:active{
  background: #ffbb45;
  box-shadow: 0px 1px 3px #6e6e6e;
  transform: translateY(2px);
}

.button2 {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  -webkit-box-shadow: 0px 2px 3px #6e6e6e;
  -moz-box-shadow: 0px 2px 3px #6e6e6e;
  box-shadow: 0px 2px 3px #6e6e6e;
  color: #000000;
  font-size: 14px;
  background: #ff542d;
  padding: 10px 20px 10px 20px;
  border: solid #bc2e0f 3px;
  text-decoration: none;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button2:hover {
  background: #ff6644;
  text-decoration: none;
}

.button2:active{
  background: #d64322;
  box-shadow: 0px 1px 3px #6e6e6e;
  transform: translateY(2px);
}

.dark{
  padding: 15px;
  background: #8a68f9;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error{
  color: #ffaa00;
  text-align: left;
  font-weight: bold;
}

.success{
  color: #66ff00;
  text-align: left;
  font-weight: bold;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #f9cc68;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 8em;
  height: 3em;
  line-height: 3;
  background: #f9cc68;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  color: #000;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 3px;
  background: #f39c12;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f9cc68;
}
.select::after {
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}

/* Header */
header{
  background:#ffffff;
  color:#000000;
  padding-top:30px;
  min-height:70px;
  border-bottom:#8a68f9 5px solid;
}

header a{
  color:#000000;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header#branding{
  float:left;
}

header#branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:0;
}


header .current a{
  color: #f9cc68;
  font-weight: bold;
}

header a:hover{
  color: #f9cc68;
  font-weight: bold;
}

/* showcase */
#showcase{
  min-height: 400px;
  background:url('../images/IMG_5582.JPG') no-repeat 0 -500px;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #68a2ff;
}

/* newsletter */
#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type = "email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

#searching{
  padding: 15px;
  color: #ffffff;
  background: #68a2ff;
}

#searching h1{
  float: left;
}

#searching form{
  margin-top: 15px;
}

#searching input[type = "search"]{
  padding: 4px;
  height: 35px;
  width: 250px;
}

/* boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 90px;
}

#account{
  float: none;
  margin-left: 60px;
}

#information .image{
  float: left;
  padding-left: 80px;
}

#information .information{
  float: right;
  padding-right:150px;
  padding-bottom: 40px;
  padding-top: none;
}

#information .information textarea{
  resize: vertical;
  min-width: 300px;
  min-height: 200px;
}

#information .add button{
  float: right;
}

article#login{
  float: left;
  padding: 30px;
  width: 40%;
}

article#signup{
  float: left;
  padding: 30px;
  width: 40%;
}

/*images*/
article#main-col img{
  float: right;
  padding-top: 40px;
}

article#main-col2 img{
  float: left;
  padding-right: 15px;
}

article#main-col2 button{
  margin-left: 30px;
  width: 40%;
  padding: 10px;
}

/*sidebar*/
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

article#login{
  float:left;
  padding-left: 140px;
  width:30%;
  margin-top:10px;
}

article#signup{
  float:right;
  padding-right: 140px;
  width:30%;
  margin-top:10px;
}

#searching .search input{
  width: 60%;
  padding: 4px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea,
#login .log_in input, #login .log_in textarea,
#signup .sign_up input, #signup .sign_up textarea,
#account input, #account textarea,
#information .information input, #information .information {
  width: 90%;
  padding: 10px;
}

/*Main col*/
article#main-col{
  float: left;
  width: 65%;
}

article#main-col2{
  padding-left: 40px;
  float: left;
  width: 65%;
}

article#main-col2 p{
  float: left;
  padding-top: 20px;
}

article#main-col2 button{
  float: right;
}

/*Services */
ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #68a2ff;
  text-align: center;
}

/*Media Queries*/
@media(max-width: 768px){
  header#branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar,
  article#login,
  article#signup,
  #account, #information .information{
    float:none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button, .quote button{
    display: block;
    width: 100%
  }

  #newsletter form input[type="email"], .quote textarea{
    width: 100%;
    margin-bottom: 5px;
  }
}
